// colours

$colour-background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
$colour-primary:#E92569;
$colour-secondary:#767676;
$colour-tertiary:#0A0A0A;
$colour-nav:#EFEFEF;
$colour-email:#c7c7c7;



//fonts 

$font-headers: 'Playfair Display', serif;
$font-primary: 'Lato', sans-serif;